<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>{{ pageTitle }}</title>

	</head>

	<body>
		<h2>{{ pageTitle }}</h2>
		<a href="/">Home</a>
		<a href="/about">About</a>